Source: arch-devtools
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.archlinux.org/pacman/

Package: arch-devtools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openssh, subversion, rsync, arch-install-scripts
Recommends: namcap
Description: archlinux devtools mainly
 scripts braught to debian to facilitate
 running a naitive arclinux chroot on a 
 debian system
